html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: "Heebo";

}
.humburger{
    display: none;
}
.home-header{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px 0;
}

.home-ul{
    margin:0 50px;
    display: flex;
}
.active{
    color: red !important;
}
.home-ul >a{
    display: inline;
    padding:0 15px;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    color: black;
    list-style: none;
    text-decoration: none;

}

.sect-one{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:  70px 190px;
}
